/*Header Design*/

.home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-buttons {
    display: flex;
    gap: 20px;
}

.home-search {
    background-color: rgb(31, 31, 31);
    border-radius: 20px;
    border: none;
    padding: 8px 30px;
    width: 350px;
}

.home-search::placeholder {
    color: rgb(181, 181, 181);
}

.header-button {
    background: rgba(255, 255, 255, 0);
    padding: 8px 25px;
    color: white;
    border-radius: 20px;
    border: none;
}

.open-login {
    background: rgba(255, 255, 255, 0);
    padding: 8px 25px;
    color: white;
    border-radius: 20px;
    border: none;
}

.open-login:hover {
    background-color: rgba(139, 139, 139, 0.3);
    transition: 0.3s;
}

.header-button:hover,
.header-button.active {
    background-color: rgba(139, 139, 139, 0.3);
    transition: 0.3s;
}