/* 
#4D0834
#7A1354
#AF1F72
#e82a89
*/

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    background: rgb(20, 20, 20);
}

header {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
    z-index: 4;
    justify-content: space-between;
    width: 100%;
}

#main-button {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
}

#menu-buttons {
    display: none;
}

#menu-toggle {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: 0.3s;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

#overlay-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#overlay-menu a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

#overlay.show {
    display: flex;
}

.movie-search {
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    height: 45px;
}

.movie-search input{
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    border-radius: 4px;
    color: white;
    width: 80%;
    height: 100%;
}

.movie-search input::placeholder {
    color: white;
}

.movie-search input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.movie-search button {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 15px;
    border-radius: 4px;
    color: white;
    font-size: 15px;
    width: 20%;
    height: 100%;
}

#wallpaper {
    width: 100%;
    margin-top: -105px;
    position: relative;
    height: 300px;
    overflow: hidden;
}

#wallpaper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#wallpaper::before,
#wallpaper::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    pointer-events: none;
    z-index: 2;
}

#wallpaper::before {
    top: 0;
    background: linear-gradient(to bottom, rgb(20, 20, 20), transparent);
}

#wallpaper::after {
    bottom: 0;
    background: linear-gradient(to top, rgb(20, 20, 20), transparent);
}

#results {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

#results div {
    color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#results h2 {
    font-size: 20px;
    overflow: hidden;
    padding: 5px;
}

#results p {
    display: none;
}

#results img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

footer {
    background-color: #4D0834;
    height: 200px;
    padding: 10px;
}

#dropdown {
    display: block;
    position: relative;
}

#dropdown-toggle {
    background-color: white;
    color: #4D0834;
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 4px;
    margin-bottom: 10px;
}

#dropdown-menu {
    position: absolute;
    background-color: white;
    color: #4D0834;
    list-style: none;
    border-radius: 4px;
    display: none;
    width: 100%;
}

#dropdown-menu li {
    padding: 10px;
}

#dropdown-menu.show {
    display: block;
}

/*login css*/

#login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#login-popup {
  border-radius: 10px;
  max-width: 800px;
  position: relative;
  width: 100%;
  height: 100%;
}

#open-login {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
}

#close-login {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 28px;
  color: white;
}

.login-background {
    width: 100%;
    height: 100%;
    position: relative;
}

.login-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.login-inner-block {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    width: 70vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
    pointer-events: auto;
}

.content {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    padding: 20px;
    overflow: hidden;
}

.content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: 15px;
    background: radial-gradient(ellipse at center,
            rgba(0, 0, 0, 0) 70%,
            rgba(0, 0, 0, 0.4) 100%);
    z-index: 1;
}

.sharp-background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    filter: brightness(0.95);
    z-index: -1;
}

.login-card-design {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.login-left-side {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Outfit", sans-serif;
    color: rgb(240, 240, 240);
    text-align: center;
}

.login-left-side h1 {
    font-size: 17px;
}

.login-left-side p {
    word-spacing: 3px;
    padding: 0 40px;
    font-size: 10px;
}

.submit-form {
    width: 100%;
    padding: 50px 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.login-right-side {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-email,
.login-password {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    font-family: 'Outfit', sans-serif;
    width: 100%;
}

.login-email input,
.login-password input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgb(255, 255, 255);
}

.login-email input::placeholder,
.login-password input::placeholder {
    color: rgb(53, 53, 53);
    font-family: 'Outfit', sans-serif;
}

.login-email input:focus,
.login-password input:focus {
    outline: none;
    box-shadow: none;
}

.form-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
}

.form-button {
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-family: 'Outfit';
    font-weight: bolder;
    font-size: 13px;
    letter-spacing: 1px;
    color: rgb(58, 58, 58);
    background-color: rgba(255, 255, 255, 0.907);
}

.login-divider{
    padding: 10px;
    font-family: "Outfit", sans-serif;
    display: flex;
    gap: 10px;
    color: rgb(220, 220, 220);
    justify-content: center;
    align-items: center;
}

.login-divider hr{
    width: 50px;
    height: 1px;
    background-color: rgb(229, 229, 229);
    border: none
}

@media (min-width: 768px) {
    #menu-toggle {
        display: none;
    }

    #overlay {
        display: none !important;
    }

    #menu-buttons {
        display: flex;
        gap: 10px;
    }
    
    #menu-buttons a {
        font-size: 20px;
        text-decoration: none;
        color: white;
    }

    #dropdown {
        display: none;
    }

  /*login css */

    #open-login {
        cursor: pointer;
    }

    #close-login {
        cursor: pointer;
    }
        
    .login-card-design {
        flex-direction: row;
    }

    .login-left-side {
        height: 100%;
        justify-content: start;
    }

    .login-left-text{
        width: 70%;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .login-left-side h1 {
        font-size: 30px;
        text-align: left;
        padding: 0px 0px;
    }

    .login-left-side p {
        font-size: 16px;
        text-align: left;
        padding: 0px 0px;
    }

    .submit-form {
        width: 70%;
        backdrop-filter: blur(20px);
    }

    .login-right-side {
        justify-content: center;
    }

}
